@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


body {
    background-image: 
    radial-gradient(#ecb8b4 10%, transparent 10%),
    radial-gradient(rgb(255, 255, 255) 10%, transparent 10%);
    background-position: 0px 0px, 40px 40px;
    background-size: 80px 80px;
    background-color: #5fb1ce;
    
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #f8ebea;
    background-attachment: fixed;
    width: 350px;
    height: 350px;
    border: 0.5px solid #ea504543;
    border-style: outset;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: opacity 2000ms, display 2000ms;
}

#result {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #f8ebea;
    background-attachment: fixed;
    width: 400px;
    height: 800px;
    max-width: 95vw;
    max-height: 95vh;
    border: 5px solid #ea504543;
    border-style: outset;
    border-radius: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity 2000ms, display 2000ms;
}

span {
    color: #ea5045;
    font-size: 2.5rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input[type="date"] {
    margin-top: 5px;
    border-radius: 50px;
    padding: 15px;
    border: none;
    color: rgb(81, 100, 109);
    font-size: large;
}

input[type="submit"] {
    background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.15385;
  padding: 8px .8em;
  margin-top: 5px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #07c;
}

input[type="submit"]:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

input[type="submit"]:active {
    background-color: #0064bd;
    box-shadow: none;
}

label {
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: #ea5045;
}

#timeline {
    width: 2px;
    height: 600px;
    background-color: black;
}

.grid-container {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-attachment: fixed;
    width: 400px;
    height: 580px;
    max-height: 70vh;
    display: none;
    opacity: 0;
    grid-template-columns: 50% 50%;
    padding: 10px;
    transition: opacity 2000ms, display 2000ms;
}
.grid-item {
    padding: 15px;
    text-align: center;
    font-size: small;
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
    overflow: visible;
    font-size: 1rem;
    transform: translateZ(20px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: opacity 0.5s;
    user-select: none;
  }

  .confetti {
    width: 10px;
    height: 20px;
    position: absolute;
    opacity: 0.7;
  }
